@import "./variables/variables.scss";
.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 1rem;

  .topic-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 0.5em 0;
    font-weight: bold;
    background: $green;
    padding: 5px 1.5rem;
    border-radius: 20px;
    text-transform: capitalize;
  }
}

.filter {
  display: flex;
  .sort {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: $darktext;
    font-weight: 700;
  }
  .selectedOrder {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: $green;
    font-weight: 700;
    svg {
      color: $green;
    }
  }
  svg {
    color: $darktext;
    font-size: 1.5rem;
    padding: 5px;
  }
}
