@import "./variables/variables.scss";

.NewArticle {
  background-color: white;
  padding: 1rem;
  margin: 2em auto;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    padding: 1em;

    input,
    textarea,
    button,
    select {
      margin: 1rem 0;
      padding: 10px;
      border: 1px solid rgb(189, 189, 189);
      border-radius: 5px;
      font-family: IBM Plex Sans;
      outline: none;
    }

    select {
      text-transform: capitalize;
    }
    button {
      width: 75px;
      padding: 5px 0;
      background-color: $main;
      border: 0;
      border-radius: 15px;
      color: white;
      font-weight: 700;
      font-size: 1.25em;
      margin: 1rem auto;
      box-shadow: $shadow;
    }
    textarea {
      resize: none;
      height: 200px;
    }
  }
}
