@import "./variables/variables.scss";

.SingleArticle {
  background-color: white;
  display: flex;
  padding: 0;
  margin: 1em 0;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  .article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      padding: 0 1rem;
      font-size: 0.8rem;
      color: $darktext;
    }
    h2 {
      padding: 0 1rem;
      font-size: 2rem;
    }
    a {
      color: black;
      text-decoration: none;
    }
    .article-body {
      color: black;
      font-size: 1.25rem;
    }
  }

  .article-details {
    display: flex;
    justify-content: space-between;
    color: $darktext;
    flex-wrap: wrap;
  }
}

.CommentsList {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  background: white;
  padding: 2rem;

  h2 {
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid rgb(189, 189, 189);

    .comment-info {
      display: flex;
      justify-content: space-between;
      color: $darktext;
    }
    .comment-body {
      margin-top: 0;
    }
    .body {
      display: flex;
      justify-content: space-between;
      button {
        background: none;
        color: $darktext;
        border: 0;
      }
    }
  }
  .more-comments {
    display: flex;
    margin: auto;
    background: none;
    border: none;
    color: $darktext;
    font-size: 2rem;
    cursor: pointer;
  }
}

.loading {
  text-align: center;
  color: $darktext;
  font-size: 2rem;
}

.CommentAdd {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(189, 189, 189);
  input {
    width: 60%;
    padding: 0.5em;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    font-size: 1.25rem;
    outline: none;
  }
  button {
    width: 75px;
    padding: 5px 0;
    background-color: $green;
    border: 0;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-size: 1.25em;
    margin-left: 1rem;
  }
}
.error {
  text-align: center;
  margin: auto;
  padding-bottom: 1em;
  color: red;
}
